@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=EB+Garamond:wght@600&family=Fira+Sans:wght@300;400&family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainbox
{
    display: flex;
    margin-top: 30px;
    margin-left: 18%;
}
label{
    font-size: 18px;
}
.signup h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-family: 'EB Garamond';
}
.signup p{
    padding-top: 10px;
    font-family: 'EB Garamond';
    font-size: 18px;
}
.signup
{
    background-color: white;
    box-shadow: 1px 1px 10px black;
    width: 35%;
    padding-left: 50px;
}
.logo
{
    background-color:  burlywood;
    width: 580px;
    box-shadow: 2px 2px 10px black;

}
.inputbox input
{
    width: 80%;
    margin-top: 8px;
    border:none;
    outline: none;
    border-bottom: 2px solid gray;
}
.btn
{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
    font-size: 18px;
    border-style: none;   
}
.btn:hover{
    color: black;
    background-color: lightslategray;
    transition: 1s;
}
.para
{
   text-align: center;
   width: 80%;
   padding-bottom: 10px;
}
.icon
{
    width: 80%;
    text-align: center;
}
.icon p{
    padding-bottom: 20px;
}
.icon i{
    padding-top: 8px;
    font-size: 30px;
    width: 50px;
    padding-bottom: 10px;
}
 input[type="text"],
 input[type="email"],
 input[type="password"]

 {
    font-size: 15px;
    letter-spacing: 2px;
 }